$yellow-color: #FFEB3B;
$yellow-opacity: rgba(255, 235, 59, 0.6);
.ripple {
	background-color: $yellow-opacity;
	border-radius: 50%;
	position: absolute;
	transform: scale(0);
	animation: ripple 0.3s linear;
}

@keyframes ripple {
	to {
		transform: scale(1.5);
	}
}