$black-color: #212112;
$white-color: #FFF;
$grey-color: #BDBDBD;
$red-color: #FF5252;

@import "general.scss";
@import "navigation.scss";

// All the other stuff
.display-header {
	color: $red-color !important;
}

img:hover {
	opacity: 0.5;
}

.background-img {
	background-image: url('../images/bgimg.jpeg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.3;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -99;
}

.wrapper {
	width: 100%;
	border: 1px solid $grey-color;
	border-radius: 6px;
	margin-top: 6em;
	margin-bottom: 2em;
	background: $white-color;
	z-index: 1;
	/*opacity: 0.7;*/
	.row {
		padding: 1em 2em;
		table {
			color: $black-color;
		}
	}
}

.movies-title {
	text-align: center;
}

.view-btn, search-btn {
	padding: 0.3em 1.5em;
	border: 1px solid $red-color;
	background: $red-color;
	color: $white-color;
	text-transform: uppercase;
}

.view-btn:hover, .view-btn:focus, .search-btn:hover, search-btn:focus {
	outline: none;
	color: $red-color;
	background: $white-color;
}

.movie-box {
	padding: 5px 5px;
	margin: 0 2.5%;
	width: 20%;

	.movies-img {
		width: 100%;
	}

	.movies-title {
		font-size: 1.3em;
		padding: 5px;
	}
}

.commercial-box {
	height: 5em;
	border-radius: 6px;
	background: $black-color;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 5px 8px 0 rgba(255,82,82, 0.3), 0 7px 20px 0 rgba(255,82,82, 0.3);
}

.commercial-box p {
	color: $red-color;
	text-transform: uppercase;
}

.modal-link {
	cursor: pointer !important;
}
@import "responsive.scss";

