//$yellow-color: #FFEB3B;
$black-color: #212112;
$white-color: #FFF;
$grey-color: #BDBDBD;
$red-color: #FF5252;

/* Navigation */

nav {
	height: 5em;
	background: $white-color;
	width: 100%;
	border-bottom: 1px solid $grey-color;
	margin-top: -1em;
	position: fixed;
	z-index: 2;
	li {
		list-style-type: none;
		margin: 0;
		padding:  0;
	}
	a {
		color: $red-color;
		display: block;
		float: left;
		padding: 20px 10px;
		text-decoration: none;
		text-transform: uppercase;
		margin-right: 1em;
		margin-top:10px;
	}

	a:hover {
		text-decoration: underline;
		color: $red-color;
	}

	a.logo {
		font-size: 30px;
		letter-spacing: -2px;
		text-shadow: 1px 1px 2px $black-color;
		padding-left: 20px;
		padding-right: 40px;
		margin-right: 10px;
		margin-top: 0;
		/*margin-bottom: -1em !important;*/
	}

	a.logo:hover {
		text-decoration: none;
	}
}

.show-menu {
	display: block;
}

.nav-margin {
	margin-bottom: 100px; 
}

.burger-icon {
	color: $red-color;
	float: right;
	font-size: 2em;
	margin: .75em 1em 0 0 !important;
	display: none;
	cursor: pointer;
}



/* All the rest */